
/*
    © Joey Smalen. All rights reserved.
*/

* {
    margin: 0;
    padding: 0;
}

html {
    background: #010510;
    color: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    height: calc(100% + (var(--safe-area-inset-top) + var(--safe-area-inset-bottom)));
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

/* Layout */

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    overflow: hidden;
}

main img {
    width: 75%;
}

.two-column {
    position: inline;
}

.two-column > * {
    float: left;
}

.content {
    width: 400px;
}

.content-center {
    text-align: center;
}

.content-left {
    text-align: left;
}

footer {
    overflow: hidden;
}

footer > * {
    bottom: 0;
    font-size: 90%;
    margin: 10px 20px;
    position: absolute;
}

footer > *:last-child {
    right: 0;
}

/* Style override */

a {
    color: inherit;
    text-decoration: none;
    transition: ease-in 70ms;
}

a:hover {
    color: #fff;
    font-weight: 750 !important;
}

b, strong {
    font-weight: 600;
}

/* Text style */

.text-headline {
    color: rgb(225, 228, 229);
    font-size: 6.5em;
    font-weight: 900;
}

.text-headline-2 {
    color: rgb(225, 228, 229);
    font-size: 4.4em;
    font-weight: 750;
}

.text-subheadline {
    color: rgb(116, 124, 128);
    font-size: 1.6em;
    font-weight: 500;
}

.text-subtext {
    color: rgb(100, 105, 116);
}

.text-body {
    padding-top: 24px;
}

.rounded {
    border-radius: 36%;
}

.entity {
    font-weight: 300;
}

.entity-bold {
    font-weight: 475;
}

/* Responsive */

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
    }

    .text-headline,
    .text-headline-2,
    .text-subheadline,
    .text-subtext,
    .text-body {
        padding-left: 9vh;
        padding-right: 9vh;
    }

    main {
        min-height: 80vh;
    }

    main img {
        width: 35%;
    }
}

@media screen and (max-width: 425px) {
    .content {
        font-size: 75%;
    }

    footer > *:last-child {
        float: none;
        text-align: right;
    }
}
